{% extends "/shared/layout.html" %}

{% block content %}

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img
      src="{{ url_for('static', filename='images/profile_pictures/default.png') }}"
      class="d-block mx-lg-auto img-fluid"
      alt="Default Robot"
      width="500"
      height="500"
      loading="lazy" />
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
      Image Uploader
    </h1>
    <p class="lead">
      This is a small Flask app that allows a user to register,
      log in, and upload a profile picture.
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="/auth/register" class="btn btn-primary btn-lg px-4 me-md-2">
        Register
      </a>
      <a href="/auth/login" class="btn btn-outline-secondary btn-lg px-4">
        Login
      </a>
    </div>
  </div>
</div>

{% endblock content %}
