<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3 shadow">
  <div class="container">
    <a class="navbar-brand" href="/">Dad Jokes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/jokes">All Jokes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jokes/new">Add a New Joke</a>
        </li>
        {% if 'user_id' in session %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
